{% extends beelab_user_layout %}

{% block body %}
    <h1>Login</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}

    <form id="login" action="{{ path("login_check") }}" method="post" role="form">
        <label for="email">Email</label>
        <div class="form-group input-group">
            <input id="email" type="email" name="_username" required="required" placeholder="email" class="form-control" />
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
        </div>
        <label for="password">Password</label>
        <div class="form-group input-group">
            <input type="password" id="password" name="_password" required="required" placeholder="password" class="form-control" />
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Login</button>
        </div>
    </form>
{% endblock %}
